body {
    background-color: rgb(190, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 7fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.glizzy {
    height: 100%;
    width: 50%;
    justify-self: center;
}

.mainBlock {
    background-color: green;
    width: 70vw;
    align-self:  flex-start;
}

.subBlock {
    background-color: pink;
    width: 2rem;
    height: 2rem;
}

.tabSection {

}

.tab {

}

.header {
    color: white;
    font-size: 3rem;
    justify-self: center;
}