body {
    background-color: rgb(190, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100vh;
    display: grid;
}

.glizzy {
    height: 12rem;
    width: 20rem;
}

.mainBlock {
    background-color: green;
    width: 70vw;
    height: 40vh;
}

.subBlock {
    background-color: pink;
    width: 2rem;
    height: 2rem;
}

.tabSection {

}

.tab {

}